@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

body {
  max-width: 800px;
  margin: 50px auto;
}

.\~material-icons {
  font-family: 'Material Icons';
}

.\~dual {
  width: auto;
  border: none;
  border-bottom: .1em solid transparent;
  border-top: .1em solid transparent;
  background: transparent;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  display: inline-block;
  white-space: nowrap;
}

.\~dual:focus {
  outline: none;
}

.\~dual:not([readonly]) {
  border-bottom: 1px solid black;
}

input[type=text].\~dual {
  width: 30ch;
}
input[type=number].\~dual {
  width: 4ch;
}

.\:button {
  background: transparent;
  border: .2em solid black;
  border-radius: .3em;
  cursor: pointer;
  box-shadow: .1em .1em 0 black;
}

.\:button:hover, .\:button:focus {
  box-shadow: .2em .2em 0 black;
  outline: none;
}

.\:button:active, .\:button.--pressed {
  box-shadow: none;
}

.\:root\:randomize {
  font-size: 1.2em;
  padding: .5em 1em;
}

.\:root\:header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.\:root h1 {
  margin: 0;
}

.\:sigma {
  margin: 1.5em 0 1em 0;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.\:sigma\:name {
  font-size: 1.2em;
  margin-bottom: .5em;
}

.\:sigma\:elasticity {
  width: 5ch;
}

.\:sigma\:obliterate {
  margin-left: 1em;
}

.\:sigma\:variants {
  width: 100%;
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
}

.\:sigma\:variants > .\:variant {
  flex-grow: 1;
}
.\:sigma\:variants > .\:variant:not(:last-child):after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: black;
}

.\:variant {
  padding: .5em 1em;
  position: relative;
}

.\:variant.--current {
  font-weight: bold;
  border: 2px solid black;
}

.\:variant\:name {
  width: 15ch;
}

.\:variant\:weight {
  text-align: right;
  font-style: italic;
}

.\:variant\:obliterate {
  float: right;
}
